In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in d:\python\python313\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in d:\python\python313\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in d:\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\python\python313\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd 
import numpy as np 
np.random.seed = 2021
from sklearn.datasets import load_iris
from ML_KNN_manual import train_test_split_df
from ML_KNN_manual import KNN_classifier
import ML_mst as mst
from ML_KNN_manual import Scaler

In [3]:
iris = load_iris()
print ('data contains:',iris.keys())
X, y, labels, feature_names  = iris.data, iris.target, iris.target_names, iris['feature_names']
df_iris= pd.DataFrame(X, columns= feature_names) 
df_iris['label'] =  y
features_dict = {k:v for k,v in  enumerate(labels)}
df_iris['label_names'] = df_iris.label.apply(lambda x: features_dict[x])
df_iris = df_iris.sample(frac=1)
mst.print_df_info(df_iris ,column_values_count ='label_names')
df_iris

data contains: dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
Len = 150, shape= (150, 6), columns = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'label', 'label_names'],
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
34                 4.9               3.1                1.5               0.2
76                 6.8               2.8                4.8               1.4
123                6.3               2.7                4.9               1.8
108                6.7               2.5                5.8               1.8
5                  5.4               3.9                1.7               0.4

     label label_names
34       0      setosa
76       1  versicolor
123      2   virginica
108      2   virginica
5        0      setosa
  label_names  count
0      setosa     50
1  versicolor     50
2   virginica     50

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,label_names
34,4.9,3.1,1.5,0.2,0,setosa
76,6.8,2.8,4.8,1.4,1,versicolor
123,6.3,2.7,4.9,1.8,2,virginica
108,6.7,2.5,5.8,1.8,2,virginica
5,5.4,3.9,1.7,0.4,0,setosa
...,...,...,...,...,...,...
19,5.1,3.8,1.5,0.3,0,setosa
128,6.4,2.8,5.6,2.1,2,virginica
46,5.1,3.8,1.6,0.2,0,setosa
28,5.2,3.4,1.4,0.2,0,setosa
132,6.4,2.8,5.6,2.2,2,virginica

In [4]:
train_df_iris, test_df_iris =  train_test_split_df(df_iris)
print ('len(train_df)={:,}'.format(len(train_df_iris)))
print ('len(test_df)={:,}'.format(len(test_df_iris )))

len(train_df)=112
len(test_df)=38

In [5]:
X_train_iris = train_df_iris[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
y_train_iris = train_df_iris['label']
X_test_iris = test_df_iris[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
y_test_iris = test_df_iris['label']

In [6]:
iris_dict = dict(zip(df_iris['label'].unique(), df_iris['label_names'].unique()))
print (iris_dict)

{np.int64(0): np.str_('setosa'), np.int64(1): np.str_('versicolor'), np.int64(2): np.str_('virginica')}

In [7]:
scaler = Scaler()
X_train_scaled_iris = scaler.fit_transform(X_train_iris)
X_test_scaled_iris = scaler.transform(X_test_iris)
print ('X_train_scaled_iris[0]=')
X_train_scaled_iris.iloc[0]

X_train_scaled_iris[0]=

sepal length (cm)    0.166667
sepal width (cm)     0.458333
petal length (cm)    0.084746
petal width (cm)     0.041667
Name: 34, dtype: float64

In [8]:
def set_neighbors(X_train_scaled_iris, y_train_iris):
    dict_k_s_b = {}
    for i in range(1,11):
        n_neighbors = i
        clf = KNN_classifier(k_number=n_neighbors)
        clf.fit(X_train_scaled_iris, y_train_iris)
        s_b_train = clf.score(X_train_scaled_iris,y_train_iris) 
        s_b_test =clf.score(X_test_scaled_iris,y_test_iris)
        dict_k_s_b[i] = float(s_b_test)
        print (f'Count neighbors = {n_neighbors}')
        print ('score train = {:.3f}'.format(clf.score(X_train_scaled_iris,y_train_iris)))
        print ('score test = {:.3f}'.format(clf.score(X_test_scaled_iris,y_test_iris)),'\n')
        
    return dict_k_s_b

In [9]:
dict_k_s_b = set_neighbors(X_train_scaled_iris, y_train_iris)
dict_k_s_b

Count neighbors = 1
score train = 1.000
score test = 0.974

Count neighbors = 2
score train = 0.973
score test = 0.974

Count neighbors = 3
score train = 0.955
score test = 0.974

Count neighbors = 4
score train = 0.955
score test = 0.974

Count neighbors = 5
score train = 0.955
score test = 0.974

Count neighbors = 6
score train = 0.964
score test = 0.974

Count neighbors = 7
score train = 0.964
score test = 0.974

Count neighbors = 8
score train = 0.973
score test = 0.947

Count neighbors = 9
score train = 0.964
score test = 0.974

Count neighbors = 10
score train = 0.964
score test = 0.974

{1: 0.9736842105263158,
 2: 0.9736842105263158,
 3: 0.9736842105263158,
 4: 0.9736842105263158,
 5: 0.9736842105263158,
 6: 0.9736842105263158,
 7: 0.9736842105263158,
 8: 0.9473684210526315,
 9: 0.9736842105263158,
 10: 0.9736842105263158}

In [10]:
max_value = max(dict_k_s_b.values())
keys_with_max_value = [k for k, v in dict_k_s_b.items() if v == max_value]
min_key_value  = min(keys_with_max_value)

In [11]:
k_best = min_key_value 
score_best = max_value  
print ('The best k = {} , score = {}'.format(k_best,score_best ))

The best k = 1 , score = 0.9736842105263158